<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rector</title>
    <link rel="stylesheet" href="/css/Style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
</head>
<body>

<header>Institución Colegio</header>

<div class="container">
    <div class="card">
        <i class="bi bi-shield-lock-fill icono"></i>
        <h2>Hola Admin</h2>
    </div>
</div>

</body>
</html>