<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rector</title>
    <link rel="stylesheet" href="/css/Style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
</head>
<body>

<header>Institucion Colegio</header>

<div class="container">
    <div class="card">
        <i class="bi bi-shield-lock-fill icono"></i>
        <h2>Hola Admin</h2>
        <p>Panel de administracion institucional</p>

        <div class="nav-links">
            <a th:href="@{/rector/crear-usuario}">Crear Usuario</a>
            <a th:href="@{/rector/crear-asignatura}">Crear Asignatura</a>
            <form th:action="@{/logout}" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <button type="submit">Cerrar Sesion</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>
